@font-face {
  font-family: century;
  src: url("fonts/centurygothic.ttf");
  }

           body {
            margin: 0 auto;
            font-family: century;
            font-weight: 800;
        }

        .home {
            display: flex;
            height: 100vh;
           
        }

        .leftSideMenu {
            flex: 0 0 auto;
            width: 500px;
            overflow-y: auto;
            min-height: 100vh;
            background-image: url(images/back.png);
            background-size: cover;
            
}

        .rightSideContent {
            flex: 1 1 auto;
            min-height: 100vh;
            overflow-y: auto;
        }

/*====left========*/


.main{
    color: white;
    display: block;
    text-align: center;
    padding-top: 150px;
}


 /*====css========*/
.s1{
    height: 95vh;
    background-image: linear-gradient(120deg, #f093fb 0%, #0336ff 100%);
}
.s2{
    height: 95vh;
    background-color: #ffff00;
}
.s3{
    height: 95vh;
    background-image: linear-gradient(120deg, #f093fb 0%, #0336ff 100%);
}
.s4{
    height: 95vh;
    background-image: linear-gradient(120deg, #f093fb 0%, #0336ff 100%);
}
.s5{
    height: 95vh;
    background-image: linear-gradient(120deg, #f093fb 0%, #0336ff 100%);
}


.swiper-wrapper{
   height: 100vh;  
    
}

.swiper-slide img{
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    width: 110vh;
   margin-left: auto;
    margin-right:auto;
    margin-top: 40px;
    
   
    
}
.swiper-pagination{
    display: none;
}
/*==============*/

.bottomtab
{
    position:fixed;
    bottom:0;
    width:100%;
    z-index:22;
    background-color: #fff;
}

.nav-link{
    font-family: century;
    font-size: 20px;
    border-color: none !important;
}